/* Common style for all buttons */
.button {
  display: block;
  cursor: pointer;
  border: 0 transparent;

  &:not(.disabled):active {
    box-shadow: 0 0 0 2px var(--primary-color);
  }
}

/* For devices that supports hover status */
@media (hover: hover) {
  .button:not(.disabled):hover {
    box-shadow: 0 0 0 2px var(--primary-color);
  }
}

@media (max-width: 764px) {
  #main-menu-overlay .button:not(.disabled):not(.color-selector button) {
    box-shadow: 0 0 0 2px var(--primary-color);
  }
}

.icon-only {
  padding: .75rem;
  background-color: var(--alt-bg);
}

.icon-only.disabled {
  opacity: .5;
}

.icon-only svg {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacked-icons-container {
  position: relative;
}

.icon-only .stacked-icons-inner svg {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.button-text {
  font-weight: bold;
  font-size: large;
  text-transform: capitalize;
  padding: .75rem;
}

.icon-only.small {
  padding: .5rem;

  & svg {
    width: 1rem;
    height: 1rem;
  }
}

.color-selector button, #theme-selector button {
  position: relative;
  z-index: 2;
}