/* List of common rules to add when needed */

.weight-normal {
  font-weight: normal;
}

.weight-bold {
  font-weight: bold;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

.disabled {
  opacity: .4;
}

.main-bg {
  background-color: var(--main-bg);
}

.main-color {
  color: var(--main-color);
}

.alt-bg {
  background-color: var(--alt-bg);
}

.primary-bg {
  background-color: var(--primary-color);
}

.primary-color {
  color: var(--primary-color);
}

.primary-contrast-bg {
  background-color: var(--primary-contrast);
}

.primary-contrast-color {
  color: var(--primary-contrast);
}

.red-bg {
  background-color: var(--accent-red);
}

.red {
  color: var(--accent-red);
}

.gold-bg {
  background-color: var(--accent-gold);
}

.gold {
  color: var(--accent-gold);
}

.green-bg {
  background-color: var(--accent-green);
}

.green {
  color: var(--accent-green);
}

.transparent {
  color: transparent;
}

.transparent-bg {
  background-color: transparent;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.row-reverse {
  flex-direction: row-reverse;
}

.sticky {
  position: sticky;
}

.flex-center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.just-start {
  justify-content: flex-start;
}

.just-center {
  justify-content: center;
}

.just-end {
  justify-content: flex-end;
}

.just-between {
  justify-content: space-between;
}

.just-around {
  justify-content: space-around;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 13.5px;
}

.text-normal {
  font-size: 15px;
}

.text-large {
  font-size: 17px;
}

.border-color {
  border: 1px solid var(--main-color);
}

.border-r-10 {
  border-radius: 10px;
}

.border-round {
  border-radius: 50%;
}

.border-primary{
  border-color: var(--primary-color) !important;
}

.padding-0 {
  padding: 0;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 1.8rem;
}

.padding-10 {
  padding: 10px;
}

.padding-1-0 {
  padding: 1em 0;
}

.padding-0-1 {
  padding: 0 1rem;
}

.padding-top-0 {
  padding-top: 0;
}

.margin-0 {
  margin: 0;
}

.margin-5-0 {
  margin: 5px 0;
}

.margin-1-0 {
  margin: 1em 0;
}

.margin-08-0 {
  margin: .8em 0;
}

.margin-10 {
  margin: 10px;
}

.margin-5 {
  margin: 5px;
}

.margin-r10 {
  margin-right: 10px;
}

.margin-b6 {
  margin-bottom: 6rem;
}

.h-2{
  height: 2rem;
}

.h-100 {
  height: 100%;
}

.w-1 {
  width: 1rem;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-20 {
  width: 20%;
}

.w-fit {
  width: fit-content;
}

.min-w-fit {
  min-width: fit-content;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-100 {
  z-index: 100;
}

.top-0 {
  top: 0;
}

.top-3 {
  top: 3rem;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.left-1 {
  left: 1rem;
}

.right-0 {
  right: 0;
}

.right-1 {
  right: 1rem;
}

.h-header {
  min-height: 58px;
}

.scroll {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

.min-w-22 {
  min-width: 22%;
}

.min-w-50 {
  min-width: 50%;
}

.min-w-200px {
  min-width: 200px;
}

.aspect-1 {
  aspect-ratio: 1;
}

.hidden {
  display: none;
}

.underline {
  text-decoration: underline;
}

.hide-empty:has(span:empty) {
  display: none;
}