* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --main-bg: light-dark(#FFF, #121212);
  --main-color: light-dark(#000, #FFF);
  --alt-bg: light-dark(#ededed, #1d1d1d);

  --theme-hue-primary: 210;
  --theme-saturation-primary: 70%;
  --theme-lightness-primary: 50%;
  --primary-color: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), var(--theme-lightness-primary));
  --primary-contrast: var(--main-bg);

  --accent-red: #df3939;
  --accent-gold: #bd8928;
  --accent-green: #2B882B;
}

/*
Can force color scheme from any element in the page 
(if it's the only one with the attribute) 
*/
body[data-theme="light"] {
  color-scheme: light;
}

body[data-theme="dark"] {
  color-scheme: dark;
}

body {
  color: var(--main-color);
  background-color: var(--main-bg);

  font-family: inter, 'sans-serif';
  user-select: none;

  margin: 0 auto;
}

/* Removes the highlight effect on mobile devices */
* {
  -webkit-tap-highlight-color: transparent;
}