/* .toolbar {
  position: fixed;
  bottom: 25px;
  width: 90vw;
  height: 60px;
  background: var(--alt-bg);
  border-radius: 15px;
  box-shadow: 0 0 5px 2px var(--accent-gray);
  z-index: 2;
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
} */

.toolbar {
  position: fixed;
  bottom: 0;
  width: 100% !important;
  height: 5px;
  background: var(--alt-bg);
  border-radius: 15px;
  z-index: 2;
}

.toolbar .button {
  display: none;
  transition: color .5s ease-in;

  &:not(.disabled):active {
    box-shadow: unset;
  }
}

.toolbar .button.selected {
  color: var(--primary-contrast);
  background: transparent;
  position: relative;
  z-index: 3;
}

.toolbar .button:not(.selected) {
  color: var(--primary-color);
  background: transparent;
}

.toolbar::before {
  content: '';
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background: var(--primary-color);
  transition: left .3s ease-in-out;
}

.toolbar0::before {
  left: 0;
}

.toolbar1::before {
  left: 25%;
}

.toolbar2::before {
  left: 50%;
}

.toolbar3::before {
  left: 75%;
}

@media (min-width: 900px) {
  .toolbar {
    width: 640px;
    height: 75px;
    gap: 3rem;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    &::before {
      width: 75px;
    }
  }

  .toolbar0::before {
    left: 114.5px;
  }

  .toolbar1::before {
    left: 225px;
  }

  .toolbar2::before {
    left: 339px;
  }

  .toolbar3::before {
    left: 450px;
  }
}

@media (max-width: 450px) {
  .toolbar {
    transition: opacity .5s ease, transform 0.5s ease;
  }

  .toolbar-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .toolbar-visible {
    opacity: 1;
  }
}